body{
background-color: rgb(38, 69, 110);
text-align: center;
color:#ffffff

}
button {
    background-color: #000;
    border: .5px solid rgb(7, 247, 7);
    border-radius: 10px;
    color: #fff;
    padding: 8px;
    box-shadow: 0 0 30px 0 rgb(6, 161, 13),
                0 0 30px 0 rgb(63, 238, 47),
                0 0 10px 0 rgb(43, 114, 10) inset;
  }
  .neon{
    font-size: 30px;
    text-shadow: 0 0 7px rgb(17, 221, 10), 0 0 10px rgb(25, 119, 22), 0 0 21px rgb(10, 189, 4), 0 0 42px rgb(89, 167, 122), 0 0 82px rgb(5, 119, 5), 0 0 92px rgb(6, 131, 58), 0 0 102px rgba(3, 248, 23, 0.644), 0 0 151px rgb(107, 245, 15);
  }